*

.bg-img {
    /* The image used */
    background-image: url("#");
  
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

  
  /* Position the navbar container inside the image */
  .container {
    
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .outside {
      border: 0px;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    display: flex;
    justify-self: flex-end;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding-top: 37px;
    padding-right: 30px;
  }
  
  .topnav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .logo {
    display: flex;
    justify-self: flex-start;
  }
  
  .title {
      font-family: Roboto, sans-serif;
      color: black;
      font-weight: 900;
      font-size: 60px;
      margin: 35px;
      margin-bottom: 10px;
      text-align: center;
  }

  .title2 {
    font-family: Roboto, sans-serif;
    color: black;
    font-weight: 900;
    font-size: 32px;
    margin: 35px;
    margin-bottom: 0px;
    margin-top: 100px;
    text-align: center;
}

.title3 {
    font-family: Roboto, sans-serif;
    color: black;
    font-weight: 900;
    font-size: 40px;
    margin: 35px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
}

  .low {
      font-family: Robot, sans-serif;
      color: black;
      text-align: center;
      bottom: 0;
      left: 0;
      font-size: 20px;
      margin-right: 20px;
  }

  .top {
    font-family: Robot, sans-serif;
    color: rgba(255, 255, 255, 0.658);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    margin-left: 35px;
    margin-bottom: 285px;
}

body {
    margin: 0px;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.credit {
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-bottom: 0px;
}

.article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    width: 45%;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

.article4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width: 45%;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: underline;
    color: black;
}

.wordwrap {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}

.embed {
  display: flex;
  justify-content: center;
}

.embed3 

.mid {
  display: flex;
  justify-content: center; 
}

.embed2 {
  margin: 25px;
  margin-bottom: 0px;
  padding: 0%;
}

.article2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  width: 45%;
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* Style the form element with a border around it */


/* Add some padding and a grey background color to containers */
.container3 {
  padding: 20px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: black;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.idklol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-align: center;
}
